<ion-view title="App Download" id="page13">
  <ion-nav-buttons side="left" scroll="false" class="has-header">
    <button class="button button-icon icon ion-android-arrow-back"></button>
  </ion-nav-buttons>
  <ion-content padding="true" style="background: url(img/5aJVhX10Sgrp4He9nive_wall.JPG) no-repeat center;background-size:cover;" scroll="false" class="has-header">
    <div>
      <img src="img/oCz6pw3RzyXd3WgVSGs5_totalapptit.PNG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 27px;"></div>
    <div>
      <img src="img/NerwSiBfQwKpDhFCw6fr_stattotal.PNG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 19px;"></div>
    <div>
      <img src="img/XGzA9WNMRvGim6otqElB_andd.PNG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/9AYsDylHTj21ZXdwrWo8_totaldesc.PNG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <a ui-sref="availableApp" id="appDownload-button11" style="font-weight:600;font-size:20px;border-radius:10px 10px 10px 10px;" class="button button-stable  button-block">Available App</a>
  </ion-content>
</ion-view>