<ion-view title="Available App" id="page14">
  <ion-nav-buttons side="left" scroll="false" class="has-header">
    <button class="button button-icon icon ion-android-arrow-back"></button>
  </ion-nav-buttons>
  <ion-content padding="true" style="background: url(img/U2n6GkHS0ahPm2u1PddQ_availwall.PNG) no-repeat center;background-size:cover;" scroll="false" class="has-header">
    <div>
      <img src="img/e7LRjFmiQbuWaGr8SsVU_totalapav.PNG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 19px;"></div>
    <div>
      <img src="img/1jek74a1RbGqrT6Sr3mF_sata.PNG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 9px;"></div>
    <div>
      <img src="img/aogzpPRuQBycwdWq248n_androi.PNG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 6px;"></div>
    <div>
      <img src="img/NHkuCm6NQreRlFq4kUvk_descr.PNG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 4px;"></div>
    <div>
      <img src="img/3YDI1hHSkmSHqUiFMJde_usssss.PNG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>