<ion-view title="Home Screen" hide-nav-bar="true" id="page9">
  <ion-content padding="true" style="background: url(img/dCUwFYFRhaBxZCuJcds1_wallpaper.JPG) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding" scroll="false">
    <div>
      <img src="img/nk7VCa1RyKcf1Y8xtd5A_wall1.JPG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/UTwJZ4FJRPC7Ls8F75lB_image2.PNG" style="display: block; width: 90%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <a ui-sref="options" id="homeScreen-button13" style="font-weight:600;font-size:20px;border-radius:10px 10px 10px 10px;" class="button button-stable  button-block">GET THE STAT</a>
  </ion-content>
</ion-view>