<ion-view title="Market share" id="page12">
  <ion-nav-buttons side="left" scroll="false" class="has-header">
    <button class="button button-icon icon ion-android-arrow-back"></button>
  </ion-nav-buttons>
  <ion-content padding="true" style="background: url(img/3B5Q8VjpQL6929aPOdvf_market.JPG) no-repeat center;background-size:cover;" class=" manual-remove-top-padding has-header" scroll="false">
    <div>
      <img src="img/Hwpcpi4bQ426Nq51Nn4J_marketshare.PNG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 18px;"></div>
    <div>
      <img src="img/ZB5L9hdqQN2MgLDgBwsE_marketpie.PNG" style="display: block; width: 70%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 12px;"></div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/eyKMLRv8QyqKs4wVzAvM_marketdesc.PNG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 9px;"></div>
    <a ui-sref="appDownload" id="marketShare-button10" style="font-weight:600;font-size:20px;border-radius:10px 10px 10px 10px;" class="button button-stable  button-block">App Download</a>
  </ion-content>
</ion-view>