<ion-view title="Options" id="page11">
  <ion-nav-buttons side="left" scroll="false" class="has-header">
    <button class="button button-icon icon ion-android-arrow-back"></button>
  </ion-nav-buttons>
  <ion-content padding="true" style="background: url(img/n6M2ptvSToSbIfzPDlTx_wallpaper.JPG) no-repeat center;background-size:cover;" class=" manual-remove-top-padding has-header" scroll="false">
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/spChiqM0QkQxxYfhjUwU_image.PNG" style="display: block; width: 100%; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 42px;"></div>
    <a ui-sref="deviceSales" id="options-button9" style="font-weight:600;font-size:20px;border-radius:10px 10px 10px 10px;" class="button button-dark  button-block">Device Sales</a>
    <a ui-sref="marketShare" id="options-button14" style="font-weight:600;font-size:20px;border-radius:10px 10px 10px 10px;" class="button button-dark  button-block">Market Share</a>
    <a ui-sref="appDownload" id="options-button15" style="font-weight:600;font-size:20px;border-radius:10px 10px 10px 10px;" class="button button-dark  button-block">App Download</a>
    <a ui-sref="availableApp" id="options-button16" style="font-weight:600;font-size:20px;border-radius:10px 10px 10px 10px;" class="button button-dark  button-block">Available App</a>
  </ion-content>
</ion-view>